.map-container {
  height: calc(100vh - 50px); /* 地图容器的高度 */
  flex-grow: 1;
  transition: flex-grow 0.3s ease-out;
}

.sidebar.collapsed {
  width: 0; /* 折叠后宽度为0 */
}

.map-container.expanded {
  margin-left: 0; /* 地图容器不留边距 */
}


