.sidebar {
    position: fixed; /* 使侧边栏固定在屏幕的左侧 */
    top: 140px; /* 从顶部开始 */
    left: 0; /* 从左侧开始 */
    width: 200px; /* 侧边栏的宽度 */
    height: calc(100% - 140px); /* 侧边栏的高度 */
    background-color: blue; /* 橙色背景 */
    padding: 1em; /* 内边距 */
    box-shadow: 2px 0 5px rgba(0,0,0,0.2); /* 为侧边栏添加阴影 */
    transition: width 0.3s, visibility 0.3s;
    z-index: 1; /* 使侧边栏在地图之上 */
}